body {
	margin: 0;
}

.sky {
	background: skyblue;
	width: 100%;
	height: 800px;
}

.ground {
	width: 100%;
	height: 300px;
	background: green;
}

.bee-svg-body {
	position: absolute;
	top: 50px;
	padding-top: 200px;
}